#header{

    background-image: url("header-bg.png");
    height:400px;
    margin:0;
}
.banner{

    width: 40%;
    float:left;
    margin-left:5%;
    padding: 2%;
}
.banner img{

    width:50%;
}
.heighlight{

    color: red;
}
.hireinfo{

    text-decoration: none;
    color: white;
    background-color: palevioletred;
    border-radius: 5px;
    border: 1px solid palevioletred;
    padding: 10px 20px;
}
#biography{

    background-image:url("biography-bg.png");
    height:400px;
    margin:0;
}
.bio{

    width: 40%;
    float:left;
    margin-left:5%;
    padding: 2%;
}
.bio img{

    width:50%;
}
.cv{

    text-decoration: none;
    color: white;
    background-color: palevioletred;
    border-radius: 5px;
    border: 1px solid palevioletred;
    padding: 10px 20px;
}
.experience{

    float:left;
    width:40%;
    margin-left: 5%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height:60%;
}
.red{

    color: red;
}
#left-border{

     border-left: 7px solid;
     border-image: linear-gradient(180deg,lightsalmon,tomato);
     border-image-slice: 1;
     

}
#left-borderagain{


    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
    

}
.experiencename{

       text-align:center;

}
#myexperiences{

     background-image: url("exp-bg.png");
     background-position: left;
     background-repeat: no-repeat;
     height: 600px;
}
   
.work{

    width:20%;
    float:left;
    margin-left:10%;
    padding:5px;
   
}
#latestwork{

    background-image:url("latest-work-bg.png");
    background-position:right;
    height:400px;
    margin:0;

}
.work img{

    width:100%;
}
.text-center{


    text-align: center;
}
#clientreview{

    background-image:url("footer-bg.png");
    background-position:left;
    height:500px;
    margin:0;
    

}
.client-part{

        width:25%;
        height:350px;
        float: left;
        margin-left: 5%;
        box-shadow: 10px 10px 40px gray;
        border-radius: 5px;
        text-align: center;


}
.styleone{
       
    border-left: 7px solid;
    border-image: linear-gradient(180deg,tomato,red);
    border-image-slice: 1;

}
.styletwo{

    border-left: 7px solid;
    border-image: linear-gradient(180deg,rgb(238, 255, 0),yellow);
    border-image-slice: 1;

}
.stylethree{

    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;

}
.client{

    text-align: center;
}
.email{

    text-decoration: none;
    background-image: linear-gradient(red,orange);
}
.justify{

    text-align: justify;
    padding: 5px;
}
.clientelementcolor{


       color:red;
}
#footer{

    text-align: center;
    background-color:black;
    color:white;
    width: 100%;

}